<section class="container">
  <img src="../../../assets/shopping-list-2.png" alt="" />
  <h2>Bem-vindo(a)</h2>
  <form action="">
    <app-input-text
      label="Usuário"
      name="user"
      placeholder="Digite seu usuário"
      icon="person"
      type="text"
    ></app-input-text>
    <app-input-text
      label="Senha"
      name="password"
      placeholder="Digite sua senha"
      icon="key"
      iconInput="visibility_off"
      type="password"
    ></app-input-text>
  </form>
    <p class="forgot">Esqueci a senha</p>
    <div class="btns">
      <app-button
      text = "Entrar"
      btnClass="primary"
    >
  </app-button>
  <div class="lines">
    <hr>
    <p>OU</p>
    <hr>
  </div>
    <app-button
    text = "Registrar"
    btnClass="secondary"
  >
</app-button>
    <!-- <app-button></app-button>
    <app-button></app-button> -->
    </div>
</section>
