.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  max-width: 350px;
  height: 100%;
  min-height: fit-content;
  margin: auto;
  padding: 0px 64px;
  margin-bottom: 32px;
  // overflow-y: scroll;

  img{
    width: 150px;
    margin-bottom: 32px;
    margin-top: 32px;
  }


  form, .btns{
    // background-color: yellow;
    // padding: 5px;
    width: 100%;
  }

  .wrong-pass{
    color: red;
    width: 100%;
  }

  .forgot{
    text-align: right;
    color: rgb(17, 17, 180);
    // width: 100%;
    align-self: self-end;
  }

  .forgot:hover{
    cursor: pointer;
    color: rgb(0, 73, 156);;
  }

  .lines{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // background-color: green;
    margin-bottom: 8px;
    gap: 16px;

    hr{
      background-color: rgb(17, 17, 180);
      width: 100%;
      height: 0.5px;
    }

    p{
      text-align: center;
      color: rgb(17, 17, 180);
      // background-color: yellow;
      margin: 0;
      padding: 0;
    }

  }

}
