<section class="container">
  <img src="../../../assets/shopping-list-2.png" alt="" />
  <h2>Bem-vindo(a)</h2>
  <form [formGroup]="formLogin">
    <app-input-text
      label="Usuário"
      formControlName="name"
      name="user"
      placeholder="Digite seu usuário"
      icon="person"
      type="text"
      [isValid]="isValid"
    ></app-input-text>
    <app-input-text
      label="Senha"
      formControlName="password"
      name="password"
      placeholder="Digite sua senha"
      icon="key"
      iconInput="visibility_off"
      type="password"
      [isValid]="isValid"
    ></app-input-text>
  </form>
    <p class="forgot">Esqueci a senha</p>
    <div class="btns">
      <app-button
      text = "Entrar"
      btnClass="primary"
      (click)="submit()"
    >
  </app-button>
  <div class="lines">
    <hr>
    <p>OU</p>
    <hr>
  </div>
    <app-button
    text = "Registrar"
    btnClass="secondary"
    (click)="register()"
  >
</app-button>
    </div>
</section>
