<section class="container">
  <img src="../../../assets/shopping-list-2.png" alt="" />
  <h2>Recuperar Senha</h2>
  <p class="text-info">Insira o nome de usuário e o e-mail do cadastrado para recuperar a senha.</p>
  <form [formGroup]="formForgot">
    <app-input-text
      label="Usuário"
      formControlName="user"
      name="user"
      placeholder="Digite seu usuário"
      icon="person"
      type="user"
      [isValid]="userIsValid"
    ></app-input-text>
    <app-input-text
      label="E-mail"
      formControlName="email"
      name="email"
      placeholder="Digite seu e-mail"
      icon="email"
      type="email"
      [isValid]="emailIsValid"
      (pressEnter)="submit()"
    ></app-input-text>
  </form>
  <span class="wrong" *ngIf="wrong">Usuário ou e-mail incorreto!</span>
    <div class="btns">
      <app-button
      text = "Recuperar Senha"
      btnClass="primary"
      (click)="submit()"
    >
  </app-button>
  <div class="lines">
    <hr>
    <p>OU</p>
    <hr>
  </div>
    <app-button
    text = "Registrar"
    btnClass="secondary"
    (click)="register()"
  >
</app-button>
    </div>
</section>
